/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/09/2016, 17:56:07
    Author     : Anderson
*/
/*.container{
    margin: 0 auto;
    width: 940px;
}*/
header {
  position: relative;
}
header,
div,
footer {
  /*border: @preto solid 1px;*/
}
.container {
  /*position: relative;*/
  /*right: 17%;*/
}
body {
  position: absolute;
  font-family: 'Helvetica ', "Lucida Sans Unicode ", "Lucida Grande", sans-serif;
  /*float: left;*/
  top: 0;
  left: 15%;
  background: #F0F8FF;
}
.corpo {
  background: rgba(100, 149, 237, 0.4);
}
.titulo {
  text-align: center;
  font-size: 24px;
}
.bem-vindo{
  font-size: 1.5em;
  padding-top: 6.5%;
}
html,
body {
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
}
.menu {
  background: #99f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 30px;
  z-index: 2;
}
.menu li a {
  padding: 9px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.menu li {
  float: left;
}
.menu ul {
  position: absolute;
  list-style-type: none;
}
.menu ul li:hover {
  position: relative;
  background: #00c;
}
.menu ul li:hover ul {
  left: 0px;
  top: 30px;
  padding: 0px;
  display: block;
}
.menu ul li:hover ul li a {
  display: block;
  background: #00c;
  padding: 5px;
  width: 168px;
  text-indent: 15px;
}
.menu ul li ul {
  position: absolute;
  list-style-type: none;
  display: none;
}
table tr td {
  border: 1px #000 solid;
}

.pequeno {
  font-size: 10px;
  color:red;
}